/* ------------- starts globals ------------- */

body {
  background-color: #efefef;
}

.text-shadow {
  text-shadow: 0 0 4px #242424;
}

:root {
  --primary-color: #ff0000;
}

/* ------------- ends globals ------------- */


/* ------------- starts register ------------- */

.register-bg-screen {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("/assets/images/register-background.png");
  background-size: cover;
  background-position: center center;
}

/* ------------- ends register ------------- */


/* ------------- starts login ------------- */

.login-bg-screen {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("/assets/images/login-background.png");
  background-size: cover;
  background-position: center center;
}

/* ------------- ends login ------------- */


/* ------------- starts navbar ------------- */

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1;
}

@media(max-width: 600px) {
  .navbar-items {
    width: 80%;
    height: 100vh;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;
  }
  .navbar-items ul {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .navbar-items ul li a {
    display: inline-block;
    width: 100%;
  }
}

/* ------------- ends navbar ------------- */


/* ------------- starts create card ------------- */

.box {
  position: fixed;
  background-color: var(--primary-color);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  z-index: -1;
}
.box-1 {
  left: -100px;
  top: -100px;
}
.box-2 {
  right: -100px;
  top: -100px;
}
.box-3 {
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 800px;
}
.create-card-bg-screen {
  width: 100%;
  height: calc(100vh - 80px);
}

/* ------------- ends create card ------------- */
